export(DESeq.GLM.createRmd)
export(DESeq.nbinom.createRmd)
export(DESeq2.createRmd)
export(DSS.createRmd)
export(EBSeq.createRmd)
export(NBPSeq.createRmd)
export(NOISeq.prenorm.createRmd)
export(SAMseq.createRmd)
export(TCC.createRmd)
export(baySeq.createRmd)
export(checkDataObject)
export(checkTableConsistency)
export(check_compData)
export(check_compData_results)
export(compData)
export(convertListTocompData)
export(convertcompDataToList)
export(edgeR.GLM.createRmd)
export(edgeR.exact.createRmd)
export(generateCodeHTMLs)
export(generateSyntheticData)
export(listcreateRmd)
export(logcpm.limma.createRmd)
export(runComparison)
export(runComparisonGUI)
export(runDiffExp)
export(sqrtcpm.limma.createRmd)
export(summarizeSyntheticDataSet)
export(ttest.createRmd)
export(voom.limma.createRmd)
export(voom.ttest.createRmd)
export(vst.limma.createRmd)
export(vst.ttest.createRmd)
exportClasses(compData)
import(sm)
import(KernSmooth)
import(MASS)
import(ROCR)
import(caTools)
import(limma)
import(edgeR)
import(gdata)
import(ggplot2)
import(gplots)
import(grid)
import(gtools)
import(knitr)
import(lattice)
import(markdown)
import(methods)
import(modeest)
import(stringr)
import(tcltk)
import(vioplot)
